<div class="my-overlay " *ngIf="data?.type==='full'">
    <div class="my-overlay d-flex justify-content-center align-items-center">
        <div class="p-4 spinner-border text-success" role="status">
          <!-- <mat-spinner></mat-spinner> -->
          <!-- <p>Loading...</p> -->
          <span class="sr-only">Loading...</span>
          <!-- <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div> -->
        </div>
    </div>
</div>