<div class="p-4">
  <app-error-success *ngIf="productAlerts.failedToCreateProdut && false" [data]="productCreationFailureInfo"
    (close)="productAlerts.failedToCreateProdut=!productAlerts.failedToCreateProdut">
  </app-error-success>

  <div>
    <div>
      <h1>Create Product</h1>
      <form [formGroup]="createProductForm" (ngSubmit)="createProduct()">
        <div class="form-group row">
          <label for="product-name" class="col-sm-2 col-form-label">Product Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
              [class.is-invalid]="createProductForm.get('name')?.invalid && createProductForm.get('name')?.touched"
              id="product-name" placeholder="VAIBHAV" formControlName="name">
            <small [class.d-none]="createProductForm.get('name')?.valid || createProductForm.get('name')?.untouched"
              class="text-danger">
              Product name is required
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="company-name" class="col-sm-2 col-form-label">Company Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
              [class.is-invalid]="createProductForm.get('company')?.invalid && createProductForm.get('company')?.touched"
              id="company-name" placeholder="Company Name" formControlName="company">
            <small
              [class.d-none]="createProductForm.get('company')?.valid || createProductForm.get('company')?.untouched"
              class="text-danger">
              Company name is required
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="product-type" class="col-sm-2 col-form-label">Product Type</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
              [class.is-invalid]="createProductForm.get('productType')?.invalid && createProductForm.get('productType')?.touched"
              id="product-type" placeholder="Product Type" formControlName="productType">
            <small
              [class.d-none]="createProductForm.get('productType')?.valid || createProductForm.get('productType')?.untouched"
              class="text-danger">
              Product type is required
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="product-category" class="col-sm-2 col-form-label">Product Category</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="product-category" placeholder="Product Category"
              formControlName="productCategory">
          </div>
        </div>
        <div class="form-group row">
          <label for="hsnCode" class="col-sm-2 col-form-label">HSN Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
              [class.is-invalid]="createProductForm.get('hsnCode')?.invalid && createProductForm.get('hsnCode')?.touched"
              id="hsnCode" placeholder="HSN Code" formControlName="hsnCode">
            <small
              [class.d-none]="createProductForm.get('hsnCode')?.valid || createProductForm.get('hsnCode')?.untouched"
              class="text-danger">
              HSN code is required
            </small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create Product</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 
    company,
    stock quntity,
    product type,
    product category
    createdAt, 
    updatedAT,


    BATCH INFO
 -->

  <!-- product list -->
  <div>
    <h1>Product List</h1>
    <button class="btn btn-success my-4" (click)="getAllProducts()">
      Get Product
    </button>



    <div *ngIf="allProductsData" class="animated fadeIn">
      <h5>Total Products : {{allProductsData.length}}</h5>
      <ul class="list-group mb-4" *ngFor="let product of allProductsData; let i = index">
        <div class="border">
          <div class="product-header p-2">
            <h4 class="d-inline">
              {{i+1}}) {{product?.name | uppercase}}
            </h4>
            <button class="btn btn-success my-4" (click)="visibleBatchProductId=product._id">
              Show Batch
            </button>
          </div>
          <div class="row p-4">
            <div class="col-12 col-sm-6">
              <!-- <h5 class="font-weight-bold">Product</h5> -->
              <p><b>Stock</b>: {{product?.stockQuantity || 'No stock'}}</p>
              <!-- <p>{{product?.shortDescription}}</p> -->
              <p><b>Company</b>: {{product?.company?.name | titlecase}}</p>
              <p><b>Product Type</b>: {{product?.productType}}</p>
              <p><b>HSN Code</b>: {{product?.hsnCode}}</p>
            </div>
            <div class="col-12 col-sm-6 text-left">
              <p><b>Product Category</b>: {{product?.productCategory}}</p>
              <p><b>Created</b>: {{product?.createdAt | date:'medium'}}</p>
              <p><b>Updated</b>: {{product?.updatedAt | date:'medium'}}</p>
            </div>
          </div>
          <div *ngIf="visibleBatchProductId===product._id" class="animated fadeIn">
            <div class="row p-4" *ngFor="let batch of product.batch">
              <div class="col-12 col-sm-6 border-top bg-light">
                <p><b>Batch</b>: {{batch?.batchNumber}}</p>
                <p><b>Sale Quantity</b>: {{batch?.saleQuantity}}</p>
                <p><b>Expiry Date</b>: {{batch?.expirydate}}</p>
                <p><b>Purchase Quantity</b>: {{batch?.purchaseQuantity}}</p>
                <p><b>Supplier</b>: {{batch?.supplier}}</p>
                <p><b>CGST %</b>: {{batch?.cgstPercent}}</p>
                <p><b>SGST %</b>: {{batch?.sgstPercent}}</p>
                <p><b>IGST %</b>: {{batch?.IgstPercent}}</p>
                <p><b>Discount %</b>: {{batch?.discountPercent}}</p>
                <p><b>Created</b>: {{batch?.createdAt | date:'medium'}}</p>
                <p><b>Updated</b>: {{batch?.updatedAt | date:'medium'}}</p>
              </div>
              <div class="col-12 col-sm-6 text-left border-top bg-light">
                <p><b>Marging</b>: {{batch?.margin}}</p>
                <p><b>OP Quantity</b>: {{batch?.opQuantity}}</p>
                <p><b>Outer</b>: {{batch?.outer}}</p>
                <p><b>MRP</b>: {{batch?.mrp}}</p>
                <p><b>Sale Rate</b>: {{batch?.saleRate}}</p>
                <p><b>Purchase Rate</b>: {{batch?.purchaseRate}}</p>
                <p><b>Rate</b>: {{batch?.rate}}</p>
                <p><b>Total Amount Excluding Tax</b>: {{batch?.totalAmountExcludingTax}}</p>
                <p><b>Total Tax</b>: {{batch?.totalTax}}</p>
                <p><b>Final Amount</b>: {{batch?.finalAmount}}</p>
                <button class="btn btn-lg btn-outline-primary" (click)="openClearStockModal(content,product,batch)">Clear Stock</button>
              </div>

            </div>
          </div>

        </div>
      </ul>

    </div>
  </div>



</div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Stock Update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>
      Product: {{productDataInModal?.name}}
    </p>
    <p>
      Batch: {{productDataInModal?.batchNumber}}
    </p>
    <p>
      Available Quantity: {{productDataInModal?.saleQuantity}}
    </p>
    <p>--Create a form here to get stoack quantity to decrease</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>



<hr />