<div>
    <div>
        <h1>Create Bill</h1>
        <form [formGroup]="createBillForm" (ngSubmit)="createBill()">
            <div class="form-group row">
              <label for="product-name" class="col-sm-2 col-form-label">Product Name</label>
              <div class="col-sm-10">
                <input 
                  type="text" 
                  class="form-control"
                  [class.is-invalid]="createBillForm.get('name')?.invalid && createBillForm.get('name')?.touched"
                  id="product-name" 
                  placeholder="Product Name"
                  formControlName="name"
                  >
                  <small 
                      [class.d-none]="createBillForm.get('name')?.valid || createBillForm.get('name')?.untouched"
                      class="text-danger">
                      Product name is required
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <label for="company-name" class="col-sm-2 col-form-label">Company Name</label>
              <div class="col-sm-10">
                <input 
                  type="text" 
                  class="form-control" 
                  [class.is-invalid]="createBillForm.get('company')?.invalid && createBillForm.get('company')?.touched"
                  id="company-name" 
                  placeholder="Company Name" 
                  formControlName="company"
                  >
                  <small 
                      [class.d-none]="createBillForm.get('company')?.valid || createBillForm.get('company')?.untouched"
                      class="text-danger">
                      Company name is required
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <label for="product-type" class="col-sm-2 col-form-label">Product Type</label>
              <div class="col-sm-10">
                <input 
                  type="text" 
                  class="form-control" 
                  [class.is-invalid]="createBillForm.get('productType')?.invalid && createBillForm.get('productType')?.touched"
                  id="product-type" 
                  placeholder="Product Type" 
                  formControlName="productType"
                  >
                  <small 
                      [class.d-none]="createBillForm.get('productType')?.valid || createBillForm.get('productType')?.untouched"
                      class="text-danger">
                      Product type is required
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <label for="product-category" class="col-sm-2 col-form-label">Product Category</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="product-category" placeholder="Product Category" formControlName="productCategory">
              </div>
            </div>
            <div class="form-group row">
              <label for="hsnCode" class="col-sm-2 col-form-label">HSN Code</label>
              <div class="col-sm-10">
                <input 
                  type="text" 
                  class="form-control" 
                  [class.is-invalid]="createBillForm.get('hsnCode')?.invalid && createBillForm.get('hsnCode')?.touched"
                  id="hsnCode" 
                  placeholder="HSN Code" 
                  formControlName="hsnCode"
                  >
                  <small 
                      [class.d-none]="createBillForm.get('hsnCode')?.valid || createBillForm.get('hsnCode')?.untouched"
                      class="text-danger">
                      HSN code is required
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create Product</button>
              </div>
            </div>
          </form>
    </div>
</div>